<table>
  <thead>
    <th style="border: 2px solid blue">name</th>
    <th style="border: 2px solid blue">the name of the food</th>
    <th style="border: 2px solid blue">the time of the adoption order</th>
    <th style="border: 2px solid blue">feedback</th>
    </thead>
    <tbody>
    {{#each food}}
    <tr>
      <td>{{name}}</td>
      <td align="center">{{food}}</td>
      <td align="center">{{hours}}:{{minutes}}:{{seconds}}</td>
      <td align="center">{{#if feedback}}fast{{else}}slowly{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>